html, body{
    height: 100%;
}

/* ===========Home page ============= */
#home {
     height: 100%;
     background: url(img/milky_way_BG.jpg) no-repeat center fixed;
     background-size: cover; /*raztegen sliko, da celo sliko raztegne na cel zaslon, če bi bila slika manjša od resolucije zaslona*/
}

body {
    
    background-repeat: no-repeat;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    
}

h3{
    font-family: Gothic;
    color: white;
    font-size: 50px;
    text-align: center;
}
/* ===============About me============*/  

#stolpec1{
    margin-top: 300px;
    width: auto;
    margin-left: auto;
    float: left;
}

#stolpec2{
    margin-top: 130px;
    margin-left: auto;
}

#stolpec3{
    margin-top: 130px;
}

#about{
    background: url(img/paper9.jpg) no-repeat center fixed;
    height: 100%;
    width: 100%;
}

#aboutme{
    margin-top: 100px;
    color: black;
    
}

.fancy{
    font-family: 'Oswald','Coustard', serif;
    font-weight: 300;            /* thinknes of the letters*/
    letter-spacing: 1px;        /* space between letters*/
    font-size: 63px;
    line-height: 70px;
    margin-left: -175px;
    color: black;
}

.firstline{
    font-family: 'Coustard', serif;
    font-size: 28px;
    line-height: 35px;
    /*margin-left: 50px;*/
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
}


#about p, #about ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 22px;
    /*margin-left: 50px;*/
    color: black;
}

.tekst3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: black;
}


.con {
    font-family: 'Coustard', serif;
    font-weight: 300;            /* thinknes of the letters*/
    letter-spacing: 1px;        /* space between letters*/
    font-size: 63px;
    line-height: 70px;
    color: black;
    margin-top: 15px;
} 

.get{
    font-family: 'Coustard', serif;
    font-size: 28px;
    line-height: 35px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
}

/* ======================================== */


#myCarousel{
    background: url(img/paper7.jpg) no-repeat center fixed;
}

/*
.img-responsive {  
  display: block;  
  height: auto;  
  max-width: 100%;  
}  
*/


#slika{
    max-height: 800px;
    width: auto;
    /*display: block;*/
    margin-top: 70px;
    margin-left:auto;
    margin-right: auto;
}

#quotes{
    background-fixed: url(img/paper10.jpg) no-repeat center fixed;
    height: 100%;
    text-align: center;
}

#homeaddress{
    align-content: center;
}

span.glyphicon-phone{
    font-size: 2em;
}

span.glyphicon-envelope{
    font-size: 2em;
}

#address{
    margin-top: 200px;
    font-size: 30px;
}

#mobile{
    margin-top: 200px;
    font-size: 30px;
}

#email{
    margin-top: 200px;
    font-size: 30px;
}

#linked{
    margin-top: 200px;
    font-size: 30px;
}

#aboutme{
    font-size: 24px;
    color: white;
}

/* =========================   ČRTE ======================================= */
.container1{
    width:900px; 
    /*margin:50px auto;*/
    margin-left: 500px;
}

.dividermitja{
    height:9px; 
    width:100%; 
    border:0; 
    background:url(img/divider1.png) repeat-x;
}

.dividermitja.top{
    padding-top:300px;
    background-position: center bottom;
}

#container2{
    width:700px; 
    margin:50px auto;
}    
	

/* ========== QUOTES ================= */

#quotes {
     height: 150%;
     background: url(img/paper6.jpg) no-repeat center fixed;
     padding: 100px 0;
     width: 100%;
}


#qutes ul{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#quotes ul li {     
    list-style: none;
    margin-bottom: 25px;           
}

#quotes ul li img {
    cursor: pointer;
}

.favorite{
    font-family: 'Coustard', serif;
    font-weight: 300;            /* thinknes of the letters*/
    letter-spacing: 1px;        /* space between letters*/
    font-size: 63px;
    line-height: 50px;
    color: white;
}
/* ================ PROJEKTI ============== */

.projekti{
    font-family: 'Coustard', serif;
    font-weight: 300;            /* thinknes of the letters*/
    letter-spacing: 1px;        /* space between letters*/
    font-size: 63px;
    line-height: 50px;
    color: white;
}

#projects{
    background: url(img/paper3.jpg) no-repeat center fixed;
    padding: 100px 0;
    width: 100%;
}
.ogrodje{
    margin: 0 100px;
}

#projects p, #projects h4{
    color: white;
}

.smalltext{
    color: white;
}
.diploma{
    font-size: 20px;
}

.newclass{
    width: 30%; 
    display: block; 
    margin-top: 10px;
}

