html, body{
    height: 100%;
}

#home {
     height: 100%;
     background: url(milky_way_BG.jpg);
}

body {
    
    background-repeat: no-repeat;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top:300px;
}

h3{
    font-family: Gothic;
    color: white;
    font-size: 50px;
    text-align: center;
}

#about{
    background: url(img/paper3.jpg);
    height: 100%;
}

#projects{
    background: url(img/paper6.jpg);
    height: 100%;
}

#myCarousel{
    background: url(img/paper7.jpg);
    height: 100%;
}

#predstavitev{
    max-height: 900px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#podelitev{
    max-height: 900px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jaz{
    max-height: 900px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jaz_oci{
    max-height: 900px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}






