html, body{
    height: 100%;
}

#home {
     height: 100%;
     background: url(milky_way_BG.jpg);
}

body {
    
    background-repeat: no-repeat;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 80px;
    text-align: center;
    padding-top:300px;
}

h3{
    font-family: Gothic;
    color: white;
    font-size: 50px;
    text-align: center;
}

#about{
    background: url(img/prints.jpg);
    height: 100%;
}